/*
--GENERAL--
*/
h1, h2, h3, h4 ,p{
    font-family: sans-serif;
}

body {
    background-color: #CFCFCF;
}

.show {
    background-color: red;
}

button {
    border-radius:5px;
    font-family:Arial;
	font-size:15px;
	font-weight:bold;
    padding:8px 20px;
    background-color: #FFECA8;
}
button:hover {
	background-color:#ffeca8ab;
}
/*
--HEADER--
*/
.header {
    background-color: #FFD026;
    padding: 20px 20px;
}

.top-header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
 
.top-header .header-section{
    display: inline;
    border: 1px;
    padding: 20px;
}

.top-header .search-box input{
    width: 600px;
    height: 25px;
}

.top-header .loginBox {
    height: 70px;
    width: 150px;
    float: right;
    margin-right: 50px;
    text-align: right;
}

.top-header .loginBox input {
    width: 100px;
    height: 12px;
}

.b-box {
    background-color: #FFECA8;
    height: 40px;
}

.header-buttons {
    float: right;
}

.header-buttons a {
    float: none;
    display: inline-block;
    text-align: center;
    padding: 12px;
    border: 25px;
}

.header-buttons a:hover {
    background-color:#b9aa72;
}

.logo {
    width: 280px;

}


/*
--PLACEHOLDER--
*/
.blank {
    background-color: whitesmoke;
    padding: 20px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blank img {
    margin: auto;
}


/*
--FOOTER--
*/
.footer{
    background-color: #FFD026;
}

.footer .footer-content {
    height: 300px;
    border: 1px;
    display: flex;
}

.footer .footer-content .footer-section {
    flex: 1;
    border: 1px;
    padding: 20px;
}