@media screen and (min-width: 900px) {
    .blank {
        height: 2800px;
    }
}

.shop {
    float: inline-start;
    display: flex;
    flex-direction: column;
}

.shop .shopOpt {
    margin-right: 10 px;
    padding: 10px;
    display: inline;
}

.shop .box-container {
    width: 98%;
    margin: 3% 3% 3% 0%;
    display: inline-flexbox;
}

li {
    list-style-type: none;
    display: inline;
}

.product-container {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-around;
}

.product-container li.product {
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 25%;
}

.product-container li.product button {
    width: 100px;
    padding: 0;
}

.product-container li.product img {
    width: 55%;
    border-radius: 5%;
}

.product-container .product .priceTag {
    font-size: larger;
}