/* 			Bacharelado em Ciencias de Computação
	Nome: Leandro Satoshi 			    NUSP: 10893103 
	Nome: Mateus Virginio Silva		    NUSP: 10284156	
	Nome: Vinicius Ricardo Carvalho		NUSP: 10724413


--Style CRUD
*/

.blank .user-data ul {
    list-style-type: none;
    padding: 15px 15px;
}

@media screen and (min-width: 440px) {
    .blank .user-data img {
        width: 20%;
        border-radius: 10px;
        justify-self: center;
    }
    .blank .user-data {
        display: flex;
        flex-direction: row;
        margin: 2%;
        border: solid #FFD026;
        padding: 2%;
    }
}

@media screen and (max-width: 430px) {
    .blank .user-data {
        margin: 2%;
        border: solid #FFD026;
        padding: 2%;
    }
    .blank .user-data img {
        width: 120px;
        border-radius: 5px;
        justify-self: center;
    }
    .blank span {
        font-size: 12px;
    }
    .blank b {
        font-size: 12px;
    }
}