/*
--PLACEHOLDER--
*/

.blank {
    background-color: whitesmoke;
    padding: 20px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blank .user-data ul {
    list-style-type: none;
    padding: 15px 15px;
}

@media screen and (min-width: 440px) {
    .blank .user-data img {
        width: 20%;
        height: 20%;
        min-width: 85px;
        border-radius: 10px;
        justify-self: center;
    }
    .blank .user-data {
        display: flex;
        flex-direction: row;
        margin: 2%;
        border: solid #FFD026;
        padding: 2%;
    }
}

@media screen and (max-width: 430px) {
    .blank .user-data {
        margin: 2%;
        border: solid #FFD026;
        padding: 2%;
    }
    .blank .user-data img {
        width: 120px;
        border-radius: 5px;
        justify-self: center;
    }
    .blank span {
        font-size: 12px;
    }
    .blank b {
        font-size: 12px;
    }
}